
/* rock-salt-regular - latin */
@font-face {
  font-family: 'Rock Salt';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rock-salt-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rock-salt-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rock-salt-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rock-salt-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rock-salt-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rock-salt-v18-latin-regular.svg#RockSalt') format('svg'); /* Legacy iOS */
}


/* grape-nuts-regular - latin */
@font-face {
  font-family: 'Grape Nuts';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/grape-nuts-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/grape-nuts-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/grape-nuts-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/grape-nuts-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/grape-nuts-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/grape-nuts-v2-latin-regular.svg#GrapeNuts') format('svg'); /* Legacy iOS */
}


/* cormorant-garamond-italic - latin */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/cormorant-garamond-v16-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/cormorant-garamond-v16-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/cormorant-garamond-v16-latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/cormorant-garamond-v16-latin-italic.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/cormorant-garamond-v16-latin-italic.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/cormorant-garamond-v16-latin-italic.svg#CormorantGaramond")
      format("svg"); /* Legacy iOS */
}

/* cormorant-garamond-regular - latin */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cormorant-garamond-v16-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/cormorant-garamond-v16-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/cormorant-garamond-v16-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/cormorant-garamond-v16-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/cormorant-garamond-v16-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/cormorant-garamond-v16-latin-regular.svg#CormorantGaramond")
      format("svg"); /* Legacy iOS */
}

/* cormorant-garamond-600 - latin */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/cormorant-garamond-v16-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/cormorant-garamond-v16-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/cormorant-garamond-v16-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/cormorant-garamond-v16-latin-600.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/cormorant-garamond-v16-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/cormorant-garamond-v16-latin-600.svg#CormorantGaramond")
      format("svg"); /* Legacy iOS */
}

/* cormorant-garamond-700 - latin */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cormorant-garamond-v16-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/cormorant-garamond-v16-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/cormorant-garamond-v16-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/cormorant-garamond-v16-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/cormorant-garamond-v16-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/cormorant-garamond-v16-latin-700.svg#CormorantGaramond")
      format("svg"); /* Legacy iOS */
}

/* bodoni-moda-regular - latin */
@font-face {
  font-family: "Bodoni Moda";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bodoni-moda-v19-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/bodoni-moda-v19-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/bodoni-moda-v19-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/bodoni-moda-v19-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/bodoni-moda-v19-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/bodoni-moda-v19-latin-regular.svg#BodoniModa") format("svg"); /* Legacy iOS */
}

/* bodoni-moda-800 - latin */
@font-face {
  font-family: "Bodoni Moda";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/bodoni-moda-v19-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/bodoni-moda-v19-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/bodoni-moda-v19-latin-800.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/bodoni-moda-v19-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/bodoni-moda-v19-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/bodoni-moda-v19-latin-800.svg#BodoniModa") format("svg"); /* Legacy iOS */
}

/* bodoni-moda-italic - latin */
@font-face {
  font-family: "Bodoni Moda";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/bodoni-moda-v19-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/bodoni-moda-v19-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/bodoni-moda-v19-latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/bodoni-moda-v19-latin-italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/bodoni-moda-v19-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/bodoni-moda-v19-latin-italic.svg#BodoniModa") format("svg"); /* Legacy iOS */
}

/* bodoni-moda-800italic - latin */
@font-face {
  font-family: "Bodoni Moda";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/bodoni-moda-v19-latin-800italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/bodoni-moda-v19-latin-800italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/bodoni-moda-v19-latin-800italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/bodoni-moda-v19-latin-800italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/bodoni-moda-v19-latin-800italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/bodoni-moda-v19-latin-800italic.svg#BodoniModa")
      format("svg"); /* Legacy iOS */
}

.garamond {
  font-family: "Cormorant Garamond", 'Times New Roman', Times, serif;
}

.bodoni {
  font-family: "Bodoni Moda", "Times New Roman", Times, serif;
}

.times-roman {
  font-family: "Times New Roman", Times, serif;
}

.helvetica {
  font-family: Arial, Helvetica, sans-serif;
}


/** {
  box-sizing: border-box;
  background: rgb(0 100 0 / 0.1) !important;
  padding: 10px !important;
}


*:hover {
  box-sizing: border-box;
  outline: 1px solid limegreen !important;
}*/


* {
  margin: 0;
  padding: 0;
}

h1 {
  display: none;
}

header {
  height: 115px;
  background-image: url('/hbgi2.jpg');
  background-position: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

main {
  position: relative;
  padding-top: 20px;
  background-image: url('/wallbgi1.jpg');
  background-position: center;
  background-attachment: fixed;
  color: wheat;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  padding: 100px 20px 10px 20px;
  position: sticky;
  top: 30px;
}

.colors {
  font-family: 'Bodoni Moda', 'Times New Roman', Times, serif;
}

.main-navigation {
  text-align: center;
  font-size: 1.2em;
}

.main-navigation li {
  font-family: 'Rock Salt', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: inline-flex;
  margin-top: 73px;
  padding: 0 8%;
}

.main-navigation a {
  color: antiquewhite;
  display: inline-block;
  text-decoration: none;
}

.colors-sub, .fonts-sub, .text-sub {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  margin-left: 100px;
  gap: 50px;
}

.colors, .fonts, .text {
  min-width: 20vw;                         
  max-width: 70vw;
  background-clip: content-box;
  background-color: whitesmoke;
  margin: 50px auto;
  box-shadow: 0px 0px 25px 25px whitesmoke;
  color: black;
}

ul li.color-box {
  display: grid;
}

ul.natural-colors, ul.elegant-colors, ul.futuristic-colors {
  border: 2px solid black;
  border-width: 50%;
}

.color-box {
  height: 55px;
  text-align: center;
}

h3 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 1.4rem;
  text-decoration: underline 1px solid black;
}

#olive {
  background-color: #8D8741;
}

#cadetblue {
  background-color: #659DBD;
}

#sandybrown {
  background-color: #DAAD86;
}

#darkgoldenrod {
  background-color: #BC986A;
}

#beige {
  background-color: #FBEEC1;
}

#darkpeachpuff {
  background-color: #EDC7B7;
}

#darklinen {
  background-color: #EEE2DC;
}

#darkgrey {
  background-color: #BAB2B5;
}

#lightnavy {
  background-color: #123C69;
  color: whitesmoke;
}

#brown {
  background-color: #AC3B61;
}

#deepdarkgrey {
  background-color: #2C3531;
  color: whitesmoke;
}

#teal {
  background-color: #116466;
  color: whitesmoke;
}

#tan {
  background-color: #D9B08C;
}

#darknavajowhite {
  background-color: #FFCB9A;
}

#lightpaleturquoise {
  background-color: #D1E8E2;
}

#garamond400-it {
  font-style: italic;
}

#garamond600 {
  font-weight: 600;
}

#garamond700 {
  font-weight: 700;
}

#bodoni400-it {
  font-style: italic;
}

#bodoni800 {
  font-weight: 800;
}

#bodoni800-it {
  font-style: italic;
  font-weight: 800;
}

#times400-it {
  font-style: italic;
}

#times800 {
  font-weight: 800;
}

#times800-it {
  font-style: italic;
  font-weight: 800;
}

#helvetica600 {
  font-weight: 600;
}

#helvetica700 {
  font-weight: 700;
}

#helvetica800 {
  font-weight: 800;
}

p.txt {
  padding: 15px auto;
}

div.text p {
  padding: 15px 0px 25px 20px;
}

#main-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

#nav-sidebar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

#article-titles {
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  font-size: 1.8rem;
  font-weight: 600;
}

#article-paragraphs {
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  font-weight: 400;
}

#paragraphs {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: 400;
}

#footer {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  font-size: 500;
}

#pull-quotes {
  font-family: 'Bodoni Moda', 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
}

#captions {
  font-family: 'Bodoni Moda', 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
}